body {
    background-image: url("../images/subtle_white_feathers.png");
    
    
}
#brand {
    position: absolute;
    background: #439692;
    color: white;
    padding: 30px;
    top: -20px;
    left: 0;

}
/* h1 {
    background: #439692;
    position: absolute;
    padding: 40px;
    text-align: left;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 400px;

} */

.topnav {
    background: white;
    position: absolute right;
    padding: 40px;
    text-align: right;
    word-spacing: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 5px;

}

h2 {
    color: #439692;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profilepic {
    clear: both;
    display: block;
    align-content: left;
    margin-left: 20px;
    margin-right: 20px;
    width:200px; 
    height:275px; 
    float: left;

}
.content {
    width:960px;
    line-height: 1.8;
    margin: 0 auto 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: auto;

}

.backfooter {
    background-color: #439692;
    position: relative;
    z-index: 1;
    width:100%;
    height:70px;
    top:-0px;
    left: 0;

}

.footer {
    background-color: rgb(86, 86, 86);
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    top: -60px;
    left: 0;

    color: white;
    text-align: center;
}


@media screen and (max-width: 640px) {
    #brand{
        display: block;
        flex-grow: inherit;
        position: static;
    }
    .topnav a {
        text-align: center;

    }
}

@media screen and (max-width: 780px) {
    #brand{
        display: block;
        flex-grow: inherit;
    }
    .topnav a {
        text-align: center;

    }
}

@media screen and (max-width: 960px) {
    #brand{
        display: block;
        flex-grow: inherit;
    }
    .topnav a {
        text-align: center;

    }
}
/* }
@media screen and (max-width: 980px) and (min-width: 768px), (min-width: 640px) {
    body{     
        background-image: url("../images/subtle_white_feathers.png");   
        min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto; 
        }
    } */